@font-face {
  font-family: 'Forum';
  src: url('forum-regular.woff2') format('woff2'),
  url('forum-regular.woff') format('woff'),
  url('forum-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}