@import 'variables';
@import 'normalize.css';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Forum', Georgia, serif;
  background-color: $color-bg-primary;
}

img {
  max-width: 100%;
}

.header {
  color: $color-entity-primary;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625em;
}

.header__logo {
  display: block;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-entity-primary;
  text-align: center;
  transition: all 300ms ease-in-out;

  &.active-menu {
    flex-basis: 100%;
  }
}

.header__logo-img {
  display: block;
  margin: 0 auto;
  height: .75em;
  width: 5.25em;
}

.header__logo-text {
  font-size: 0.75rem;
}

.no-js .nav__btn-toggle {
  display: none;
}

.nav__btn-toggle {
  box-sizing: border-box;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  transition: margin 250ms ease-in-out, transform 250ms ease-in-out;
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;

  &:active span,
  &.active span {
    top: 0;
    transform: rotate(-45deg);
  }

  &:active span::after,
  &.active span::after {
    top: 0;
    transform: rotate(90deg);
  }

  span {
    display: block;
    position: relative;
    top: -.375em;
    width: 2.25em;
    height: .125em;
    background: #fff;
    transition: all 250ms ease-out;
    margin-left: auto;
    margin-right: auto;

    &::after {
      content: '';
      position: absolute;
      top: .75em;
      width: 2.25em;
      height: .125em;
      background: $color-entity-primary;
      transition: all 250ms ease-out;
      display: block;
    }
  }
}

.no-js .nav-list {
  display: block;
}

.js .nav-list {
  position: absolute;
  top: 3.125em;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding-top: 4.5em;

  &.open {
    display: block;
  }
}

.nav-list {
  z-index: 1;
  overflow-y: scroll;
  text-align: center;
  @include reset-default-list;
  color: rgba($color-entity-primary, .5);
  background-color: $color-bg-primary;
}

.nav-list__item {
  padding-top: 1.75em;
  padding-bottom: 1.75em;
  text-transform: uppercase;
  transition: transform 300ms cubic-bezier(.51, .01, .58, 1);

  &:hover {
    font-weight: bold;
    color: rgba($color-entity-primary, 1);
    transform: scale(1.2);
  }
}

.main-section {
  position: relative;
  z-index: 0;
  padding: 100px 20px;
  text-align: center;
  background-color: $color-bg-primary;
  background-image: url('../img/section-bg.jpg');

  @media (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
    background-image: url('../img/section-bg@2x.jpg');
  }

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }

  h1 {
    margin-top: 0;
    margin-bottom: 2.1875em;
    font-size: 1.875rem;
    line-height: 140%;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $color-entity-primary;
  }

  button {
    margin-bottom: 70px;
    padding: 19px 30px;
    color: $color-entity-primary;
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #fff;
  }
}

.list-social {
  @include reset-default-list;
  box-sizing: content-box;

  li, a {
    display: inline-block;
  }

  li {
    padding: 8px;
    height: 18px;
    border-radius: 50%;
    background-color: $color-bg-primary;
  }

  @media (max-width: 319.98px) {
    li {
      margin: 10px;
    }
  }

  @media (min-width: 320px) {
    li:not(:first-child) {
      margin-left: 20px;
    }

    li:not(:last-child) {
      margin-right: 20px;
    }
  }

}

.main-section__list-social {
  margin-bottom: 28px;
}

@keyframes pulse {
  0% {
    transform: scale(1) rotate(45deg);
  }

  50% {
    transform: scale(1.2) translateY(20px) rotate(45deg);
  }

  100% {
    transform: scale(1) rotate(45deg);
  }
}

.main-section__btn {
  margin: 16px;
  @include arrow(10px, 1px, 1px, 24px);
  @include arrowColor(#fff);
  transform: rotate(45deg);
}

.btn-arrow {
  transition-duration: 1s;
  transition-property: transform;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
