@import 'variables';
@import 'normalize.css';

body {
  font-family: 'Forum', Georgia, serif;
}

.header {
  background-color: $color-bg-primary;
  color: $color-entity-primary;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625em;
}

.header__logo {
  display: block;
  z-index: 1;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-entity-primary;
  text-align: center;
  transition: all 300ms ease-in-out;

  &.active-menu {
    flex-basis: 100%;
  }
}

.header__logo-img {
  display: block;
  margin: 0 auto;
  height: .75em;
  width: 5.25em;
}

.header__logo-text {
  font-size: 0.75rem;
}

.no-js .nav__btn-toggle {
  display: none;
}

.nav__btn-toggle {
  box-sizing: border-box;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  width: 2.5em;
  height: 2.5em;
  padding: 0;
  transition: margin 250ms ease-in-out, transform 250ms ease-in-out;
  cursor: pointer;
  background: none;
  border: none;
  appearance: none;

  &:active span,
  &.active span {
    top: 0;
    transform: rotate(-45deg);
  }

  &:active span::after,
  &.active span::after {
    top: 0;
    transform: rotate(90deg);
  }

  span {
    display: block;
    position: relative;
    top: -.375em;
    width: 2.25em;
    height: .125em;
    background: #fff;
    transition: all 250ms ease-out;
    margin-left: auto;
    margin-right: auto;

    &::after {
      content: '';
      position: absolute;
      top: .75em;
      width: 2.25em;
      height: .125em;
      background: $color-entity-primary;
      transition: all 250ms ease-out;
      display: block;
    }
  }
}

.no-js .nav-list {
  display: block;
}

.js .nav-list {
  position: absolute;
  top: 3.125em;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  padding-top: 4.5em;

  &.open {
    display: block;
  }
}

.nav-list {
  overflow-y: scroll;
  text-align: center;
  background-color: $color-bg-primary;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: rgba($color-entity-primary, .5);
}

li {
  text-transform: uppercase;
  transition: transform 300ms cubic-bezier(.51, .01, .58, 1);
  padding-top: 1.75em;
  padding-bottom: 1.75em;
}

li:hover {
  font-weight: bold;
  color: rgba($color-entity-primary, 1);
  transform: scale(1.2);
}
